<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1><%= t("title.edit_user") %></h1>
      <%= form_for current_user, url: profile_path do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <p>
          <%=f.label :name %>
    　    <%= f.text_field :name, class: "form-control" %>
        </p>
        <p>
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </p>
        <p>
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </p>
        <p>
          <%= f.label :password_cofirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </p>
        <p><%= f.submit t("title.edit"), class: "btn btn-warning" %></p>
      <% end %>
    </div>
  </div>
</div>