.container
  .row
    .col-md-6
      %h1= t("title.edit_user")
      = form_for current_user, url: profile_path do |f|
        %p
          = f.label :name
          = f.text_field :name, class: "form-control"
        %p
          = f.label :email
          = f.email_field :email, class: "form-control"
        %p
          = f.label :password
          = f.password_field :password, class: "form-control"
        %p
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: "form-control"
        %p
          = f.label :image
          = f.file_field :image
        %p= f.submit t("title.edit"), class: "btn btn-warning"