<h1>ユーザー情報</h1>
<p>ユーザー名： <%= current_user.name %></p>
<p>メールアドレス： <%= current_user.email %></p>
<p><%= link_to edit_profile_path do %></p>
  <span><%= fa_icon "user", text: "ユーザー編集" %></span>
<% end %>
<p><%= link_to profile_path, method: :delete, data: { confirm: "削除してもよろしいですか" } do %></p>
  <span><%= fa_icon "user-times", text: "ユーザー削除" %></span>
<% end %>