<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>ログイン</h1>
        <%= form_for :session, url: login_path do |f| %>
          <p>
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, class: "form-control" %>
          </p>
          <p>
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password, class: "form-control" %>
          </p>
          <p><%= f.submit "ログイン", class: "btn btn-warning" %></p>
        <% end %>
      <%= link_to "新規登録はこちら", signup_path %>
    </div>
  </div>
</div>