.container
  .row
    .col-md-6.offset-md-3
      %h1= t("title.login")
      = form_for User.new, url: login_path, as: :session do |f|
        %p
          = f.label :email
          = f.email_field :email, class: "form-control"
        %p
          = f.label :password
          = f.password_field :password, class: "form-control"
        %p.text-center= f.submit t("title.login"), class: "btn btn-success"