<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1><%= t("title.login") %></h1>
        <%= form_for User.new, url: login_path, as: :session do |f| %>
          <p>
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>
          </p>
          <p>
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>
          </p>
          <p><%= f.submit t("title.login"), class: "btn btn-warning" %></p>
        <% end %>
    </div>
  </div>
</div>