- if logged_in?
  .text-center
    %h2= t("app.title")
    %p.p-3= t("app.description")
    %p.pt-3= link_to t("title.register_game"), new_game_path, class: "btn btn-success"
- else
  .text-center
    %h2= t("app.title")
    %p.p-3= t("app.description")
    = link_to t("title.new_registration"), signup_path, class: "btn btn-sm btn-success"
    = link_to t("title.login"), login_path, class: "btn btn-sm btn-success"
    %p.p-3= link_to t("title.game_index"), games_path, class: "btn btn-lg btn-success"
