%h1= t("app.title")
- if logged_in?
  .text-center
    %h3= t("app.description")
    = link_to t("title.register_game"), new_game_path, class: "btn btn-warning"
- else
  .text-center
    %h3= t("app.description")
    = link_to t("title.new_registration"), signup_path, class: "btn btn-lg btn-warning"
    = link_to t("title.login"), login_path, class: "btn btn-lg btn-warning"
