.container
  .row
    .col-md-6
      %h1= t("title.new_registration")
      = form_for @user, url: signup_path do |f|
        %p
          = f.label :name
          = f.text_field :name, class: "form-control"
        %p
          = f.label :email
          = f.email_field :email, class: "form-control"
        %p
          = f.label :password
          = f.password_field :password, class: "form-control"
        %p
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: "form-control"
        %p
          = f.label :user_picture
          = f.file_field :user_picture
        %p= f.submit t("title.register"), class: "btn btn-warning"