.container
  .row
    .col-md-6.offset-md-3
      %h1= t("title.new_registration")
      = form_for @user, url: signup_path do |f|
        %p
          = f.label :name
          = f.text_field :name, class: "form-control"
        %p
          = f.label :email
          = f.email_field :email, class: "form-control"
        %p
          = f.label :password
          = f.password_field :password, class: "form-control"
        %p
          = f.label :password_confirmation
          = f.password_field :password_confirmation, class: "form-control"
        %p
          = f.label :image
          = f.file_field :image
        %p.text-center= f.submit t("title.register"), class: "btn btn-success"