<h1>ようこそGame Shareへ！</h1>
<%= @user.name %>
<% if @user.games.any? %>
  <h3>あなたが登録したゲーム</h3>
  <% @games.each do |game| %>
    <p><%=link_to game.title, game_path(game) %></p>
    <hr>
  <% end %>
<% end %>
<% if @user.microposts.any? %>
  <h3>あなたの感想</h3>
  <% @games.zip(@microposts).each do |game, micropost| %>
    <p><%= micropost.game_title %></p>
    <%= link_to micropost.content, game_micropost_path(game, micropost) %>
    <%= micropost.created_at %>
    <hr>
  <% end %>
<% end %>
<%= link_to "トップへ", root_path %>
<%= link_to "ゲームを登録する", new_game_path %>


