<h1>ゲーム登録画面</h1>
<p>プレイしたゲームのタイトルを登録してください</p>

<%= form_with(model: @game, local: true) do |f| %>
   <p>
      <%= f.label :title, "ゲームタイトル" %>
      <%= f.text_field :title %>
   </p>

   <p><%= f.submit "登録する" %></p>
<% end %>
<%= link_to "マイページ", user_path(current_user)%>