.container
  .row
    .col-md-4
      %h2= @game.title
      %p= image_tag(@game.picture_url, size: "200x200") if @game.picture.present?
      - if current_user?(@game.user)
        %p
          = link_to edit_game_path(@game) do
            %span= fa_icon "edit", text: t("title.edit_game")
        %p
          = link_to game_path(@game), method: :delete,  data: { confirm: t("message.delete_confirmation") } do
            %span= fa_icon "trash", text: t("link.delete_game")
      %p= link_to t("title.register_review"), new_game_review_path(@game), class: "btn btn-warning"
    .col-md-8
      %ul.nav.nav-tabs
        %li.nav-item
          = link_to t("link.review"), game_path(@game), class: "nav-link"
        %li.nav-item
          = link_to t("link.spoiler"), game_reviews_path(@game), class: "nav-link"
      %h3
        = @game.title
        = t("message.game_review")
      - @reviews.each do |review|
        %p= link_to review.user_name, user_path(review.user)
        %p= image_tag(review.user.image_url, size: "20x20") if review.user.image.present?
        = link_to review.content, review_path(review)
        %p
          %span= fa_icon "heart"
          = review.likes.count
        %p
          = time_ago_in_words(review.created_at)
          = t("message.user_posted")
        %p
        %h3= t("title.comment")
        - review.comments.each do |comment|
          %p= link_to comment.user_name, user_path(comment.user)
          %p= image_tag(comment.user.image_url, size: "20x20") if comment.user.image.present?
          %p= comment.content
          %p
            = time_ago_in_words(comment.created_at)
            = t("message.user_commented")
          %p
        %hr/
