= form_with(model: [game, review], local: true) do |f|
  %p
    = f.label :content
    = f.text_area :content, class: "form-control"
  %p
    = f.label :is_spoiled
    = f.check_box :is_spoiled
  %p= f.submit yield(:button_text), class: "btn btn-warning"
