.container
  .row
    .col-md-3.offset-md-1
      %h2= @game.title
      %p.p-4= image_tag(@game.picture_url, size: 100) if @game.picture.present?
      %p= link_to t("title.register_review"), new_game_review_path(@game), class: "btn btn-success"
    .col-md-7.offset-md-1
      %ul.nav.nav-tabs
        %li.nav-item
          = link_to t("link.review"), game_path(@game), class: "nav-link"
        %li.nav-item
          = link_to t("link.spoiler"), game_reviews_path(@game), class: "nav-link"
      %h5
        = @game.title
        = t("message.game_spoiled")
      - @reviews.each do |review|
        = image_tag(review.user.image_url, size: 30) if review.user.image.present?
        = link_to review.user_name, user_path(review.user)
        %p.pt-3= link_to review.content, review_path(review)
        %p
          %span= fa_icon "heart"
          = review.likes.count
        %p
          = time_ago_in_words(review.created_at)
          = t("message.user_posted")
        - if review.comments.any?
          %p= t("title.comment")
          - review.comments.each do |comment|
            .jumbotron
              = image_tag(review.user.image_url, size: 30) if review.user.image.present?
              = link_to review.user_name, user_path(review.user)
              %p.pt-3= comment.content
              %p
                = time_ago_in_words(comment.created_at)
                = t("message.user_commented")
        %hr/
