<h2><%= @game.title %></h2>
<% @reviews.each do |review| %>
  <h3>ネタバレ</h3>
  <p><%= link_to review.user_name, user_path(review.user) %></p>
  <%= link_to review.content, review_path(review) %>
  <p><span><%= fa_icon "heart" %></span><%= review.likes.count %></p>
  <%= review.created_at %>
  <h3>コメント一覧</h3>
  <% review.comments.each do |comment| %>
    <%= comment.user_name %>
    <%= comment.content %>
  <% end %>
<% end %>
<%= link_to "感想に戻る", game_path(@game) %>