<h2>感想・レビュー詳細</h2>
<p><%= @review.user_name %></p>
<p><%= @review.game_title %></p>
<p><%= @review.content %></p>
<% if current_user?(@review.user) %>
  <%= link_to "編集", edit_review_path(@review) %>
  <%= link_to "削除", review_path(@review), method: :delete, data: { confirm: "削除してもよろしいですか" } %>
<% end %>
<% if @review.liked_by?(current_user) %>
  <p><%= link_to like_path(@like), method: :delete do %></p>
  <span><%= fa_stacked_icon "heart", text: "ナイスを取り消す" %></span>
  <% end %>
<% else %>
  <p><%= link_to review_likes_path(@review), method: :post do %></p>
  <span><%= fa_stacked_icon "heart-o", text: "ナイス" %></span>
  <% end %>
<% end %>
<p>ナイス数:<%= @review.likes.count %></p>
<%= link_to "感想一覧に戻る", game_path(@review.game) %>
<% @comments.each do |c|  %>
  <div>
  <%= c.user_name %>
  <%= c.content %>
  <%= link_to "削除", comment_path(c), method: :delete %>
  </div>
<% end %>
<%= form_with(model: [@review, @comment], local: true) do |f| %>
  <%= f.text_field :content, required: true, placeholder: "コメントを入力" %>
  <%= f.submit "コメントする", class: "btn btn-primary" %>
<% end %>
        