!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t("app.title")
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-warning
      .container
        .navbar-header
          = link_to t("app.title"), root_path, class: "navbar-brand"
        - if logged_in?
          %ul.nav.navbar-nav.navbar-right
            %li.nav-item= link_to t("title.mypage"), user_path(current_user), class: "nav-link"
            %li.nav-item= link_to t("title.register_game"), new_game_path, class: "nav-link"
            %li.nav-item= link_to t("title.game_index"), games_path, class: "nav-link"
            %li.dropdown
              %a.dropdown-toggle.nav-link{"data-toggle" => "dropdown", :href => "#"}
                = t("title.menu")
                %b.caret
              %ul.dropdown-menu
                %li= link_to t("link.profile"), profile_path, class: "dropdown-item"
                %li= link_to t("link.logout"), logout_path, method: :delete, class: "dropdown-item"
        - else
          %ul.nav.navbar-nav.navbar-right
            %li.nav-item= link_to t("title.new_registration"), signup_path, class: "nav-link"
            %li.nav-item= link_to t("title.login"), login_path, class: "nav-link"
    - flash.each do |message_type, message|
      %div{:class => "alert alert-#{message_type}"}
        = message
    = yield
